# Mac DS Store
.DS_Store

# Build 临时的编译文件、生成编译内容
/target/
target/
/build/
.gradle/
*.war

# 临时LOG输出
/logs/

# IDE项目配置内容
.classpath
.project
.settings/
.idea/
*.iml

# 其它临时文件
dependency.txt

# UI项目依赖
bower_components

# kafka tmp file
leveldb/
